:root {
    --color-primary: #ffffff;
    --color-primary2: black;
    --color-accent: #03e8f9;
    --color-accent2: rgb(255, 48, 48);
    --color-point: #eaeaea;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*전체 화면 높이*/

    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--color-primary);
    text-shadow: -1px 0px 10px rgba(106,99,99,0.76);
}

ul {
    list-style: none;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

/* 자동 완성 효과 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 500px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
}

/* ---------시계--------- */
#clock {
    font-size: 12rem;
   
}

/* ---------로그인 항목 및 결과--------- */
#login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -4rem;
}

#loginSay {
    font-size: 3rem;
    font-weight: 500;
}

#inputName {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: transparent;
    border-bottom: 2.5px solid var(--color-primary);

    background-color: transparent;

    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
    text-shadow: 1px 1px 4px rgba(106,99,99,0.76);
}

#inputName:focus {
    outline: none;
}

#btnLogin {
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 30px;
    border: 2.5px solid var(--color-primary);
    background-color: transparent;

    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}

#btnLogin:hover {
    background-color: var(--color-primary);
    color: black;
    cursor: pointer;
}

#greeting__box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 25%;
    font-size: 3rem;
}

.fa-solid, .fa-solid:hover {
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
}

/* 모달 팝업 스타일 */
#modalChoice {
    position: fixed;
    display: none;
    z-index: 1050;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;

    text-shadow: none;
    color: black;
}

#modalChoice.show {
    display: block;
}


/* ---------명언--------- */
#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    text-align: center;
    font-size: 1.3rem;
    padding: 1.5rem;

    position: absolute; /* 절대 위치로 설정 */
    bottom: 0; /* 화면 아래에 배치 */  
}

#quote .indent {
    font-weight: 400;
    font-style: italic;
}

/* ---------투두리스트--------- */
.todo {
    position: fixed;
    width: 300px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    top: 2%;
    right: 2%;

    background-color: var(--color-primary2);
    opacity: 0.85;
}

#date {
    font-size: 1.6rem;
}

#date::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-point);
    margin-top: 0.1rem; 
    margin-bottom: 0.8rem;
}

#todo_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo_input {
    background: none;
    border: none;
    color: var(--color-primary);
}

#todo_input:focus {
    outline: none;
}

#todo_input::placeholder {
    color: var(--color-point);
    font-weight: 600;
}

#todo_btn {
    cursor: pointer;
    background: transparent;
    border: none;

    color: var(--color-accent);
    font-weight: 600;
}

#todo_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.2rem;
}

#todo_list li {
    margin-bottom: 0.2rem;
}

#todo_list span {
    flex-grow: 1;
    margin-left: 0.6rem;
}

#todo_list button {
    position: absolute;
    right: 0;
    padding-right: 1.3rem;
    background-color: transparent;
    border: none;
    color: var(--color-accent2);
    font-weight: bold;
}


/* ---------날씨 항목--------- */
#weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 200px;
    height: 70px;

    position: fixed;
    top: 2%;
    left: 1%;
}

#weather_icon {
   height: 70px;
}


#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    color: white;
    font-size: 20px;
}

/* --------- 날씨 검색 --------- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 오도록 설정 */
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    padding: 20px;

    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    color: var(--color-primary);

    transition: height .6s ease;
}

.search-box {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-box .fa-location-dot {
    position: absolute;
    left: 5px;
    font-size: 20px;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: transparent;
    border: 2px solid var(--color-point);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 500;

    padding: 0 48px;
}

.search-box input::placeholder {
    color: var(--color-primary);
    text-transform: capitalize;
}

.bx-search {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    padding: 0 40px 0 5px;

    background: transparent;
    border: none;
    outline: none;

    font-size: 24px;
    color: var(--color-primary);
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box,
.weather-details,
.not-found {
    visibility: hidden;
    overflow: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box .box .info-weather {
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather-box img {
    width: 50%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;

    color: var(--color-primary);
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind {
    transform: translateY(-100%);
    overflow: hidden;

}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details .bx-water,
.weather-details .bx-wind {
    font-size: 56px;
    margin-right: 10px;
    color: var(--color-primary);
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.city-hide {
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
    position: absolute;
    transform: translateY(120%);
}

#clone-info-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}


