
/* --------- 날씨 검색 --------- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 오도록 설정 */
}

.overlay.active {
    display: flex;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    padding: 20px;

    background: var(--color-accent3);
    backdrop-filter: blur(20px);
    border: 2px solid var(--color-accent3);
    border-radius: 16px;
    color: var(--color-primary);

    transition: height .6s ease;
}

.search-box {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-box .fa-location-dot {
    position: absolute;
    left: 5px;
    font-size: 20px;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 48px;
    
    background: transparent;
    border: 2px solid var(--color-point);
    border-radius: 10px;
    outline: none;

    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-primary);
}

.search-box input::placeholder {
    color: var(--color-primary);
    text-transform: capitalize;
}

.bx-search {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    padding: 0 40px 0 5px;

    background: transparent;
    border: none;
    outline: none;

    font-size: 24px;
    color: var(--color-primary);
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin: 40px 0 0;
}

.weather-box,
.weather-details,
.not-found {
    visibility: hidden;
    overflow: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box img {
    width: 50%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;

    color: var(--color-primary);
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: -14px;
    line-height: 1.2;
}

.weather-details span {
    font-size: 18px;
}

.weather-details p {
    font-size: 14px;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details .bx-water,
.weather-details .bx-wind {
    font-size: 50px;
    margin-right: 10px;
    color: var(--color-primary);
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.city-hide {
    display: none;
}